main{
    display: grid;
    justify-items: center;
}

section{
    margin-top: 1rem;
    padding: 1rem;
}

table{
    border-collapse: collapse;
}

/* in update.js */
.hidden {
    display: none;
}

label{
    font-weight: bold;
}

button{
    padding: 0.5rem 1rem;
    background-color: aqua;
}
